@model Faoma4.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details Document</h2>

<div>
    @*<h4>Document</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verzendersEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verzendersEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBetaald)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBetaald)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isOpgehaald)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isOpgehaald)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>
